.App {
  color: #303841;
  font-family: "Courier Prime", monospace;
  font-style: normal;
  font-weight: 400;
}

.App h1 {
  font-size: 80px;
  font-weight: 600;
  margin: 30px 0 50px 0;
  text-align: center;
}

.App footer {
  margin: 60px 0;
  text-align: center;
}

.App a {
  color: #00adb5;
}

.App a:hover {
  font-weight: 700;
  text-decoration-line: none;
}
